@charset "UTF-8";

.ball{
  background-color:rgba(0,0,0,0);
  border:1px solid rgba(255,255,255,0.9);
  opacity:.9;
  border-top:1px solid rgba(0,0,0,0);
  border-left:1px solid rgba(0,0,0,0);
  border-radius:20px;width:20px;height:20px;margin:0 auto;
  -moz-animation:spin .8s infinite linear;
  -webkit-animation:spin .8s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(360deg)}}@-moz-keyframes spinoff{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(-360deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}@-webkit-keyframes spinoff{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(-360deg)}
}

html {
  height:100%;
}
body {
  background:#81C7D4;
  height: auto;
  min-height: 100%;
  background-image: url(./assets/texture.png);
}

.hide {
  display: none !important;
}

/** かんばん詳細用のBody部 */
body.kanban-detail {
  height: 100%;
}

#main-content {
  height: 100%
}

body.kanban-detail > div#main-content {
  height: 85%
}

.container {
  position: relative;
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
  }
  .container.is-fluid {
    margin: 0 20px;
    max-width: none;
  }
}

@media screen and (min-width: 1192px) {
  .container {
    max-width: 95%;
  }
}

.content-view {
  border: solid 1px #563F2E;
  background-color: #fff8e1;
  background-image: url(./assets/absurdity.png);
  padding: 1rem;
  margin-bottom: 1rem;
}

.content-view table td, .content-view table th {
  border: 1px solid #363636;
}

.content-view table th {
  background-color: #f5f5f5;
}


.level-right .level-item .button + .button {
  margin-left: 0.75rem;
}

.control {
  margin-bottom: 0.75rem;
}

/** 戻るボタン. */
p.back {
  position: fixed;
  top: 45%;
  left: 1%;
  z-index: 10;
}
p.back a:hover {
  background: #999;
}
p.back a:hover {
  text-decoration: none;
}
p.back a {
  background: #666;
  color: #fff;
}
p.back a {
  opacity: .75;
  text-decoration: none;
  width: 55.5px;
  height: 55.5px;
  padding: 5px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
  font-size: 200%;
}
p.back a i {
  margin-top: 8px;
}
/** モーダルダイアログ */
.modal-card-body {
  background-color: #fff8e1;
  background-image: url(./assets/absurdity.png);
}

.modal-card-body.detail {
  background-color: #81c7d4;
}

.modal-card-foot {
  justify-content: flex-end;
}

.modal-card-title {
  font-weight: bold;
}

/** datepicker */
.flatpickr-calendar.open {
  z-index: 2000;
}
